on:
  push:
    branches:
      - main
jobs:
  deploy_to_production:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          debug: true
          script_stop: true
          script: |
            # 1. DIAGNOSTICS: Print server info to GitHub Logs
            echo "----------------------------------------"
            echo "Connected to server!"
            echo "User: $(whoami)"
            echo "Hostname: $(hostname)"
            echo "Directory: $(pwd)"
            echo "----------------------------------------"

            # 2. Navigate to project folder
            cd /home/ubuntu/production/mySimplePlanner
            
            # 3. Docker operations
            sudo docker compose down
            #sudo docker compose down -v

            # 4. Git pull
            git pull origin main --force

            # 5. Rebuild
            sudo docker compose up --build -d